@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  min-height: 100vh;
}


body {
margin: 0;
min-height: 100vh;
font-family: "PT Sans", sans-serif;
font-style: normal;
font-size: 18px;
Line-height: 21px;
font-weight: 400;
color: #333333;
background-color: #F2F2F2;

}


/* блоки */

  .page-container {
    margin: 0;
    min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;


}

.main-container {
flex-grow: 1;

}




/*---------------------------- НАВИГАЦИЯ ШАПКА ------------------------------*/


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


 .logo-top {
   display: block;
   min-width: 139px;
   min-height: 70px;
   margin-left: 0;
 }



.page-header {
display: flex;
min-height: 65px;
width: 1060px;
margin: 0 auto;
background-color: #ecd3ee;
outline: 1px solid #333333;

}

/* ------------НАВИГАЦИЯ МЕНЮ СЛЕВА---------------- */
.navigation-list-left,
.navigation-list-user {
  list-style-type: none;
  margin: 0;
  padding: 0;

}



.navigation {
display: flex;
width: 890px;
margin-top: 0;
padding: 0;
min-height: 65px;
margin-left: 30px;
}


.navigation-list-left {
/* max-width: 350px; */
 max-width: 400px;  /* ЗАПАСНАЯ ШИРИНА ДЛЯ ПЕРЕПОЛНЕНИЯ*/
display: flex;
flex-wrap: wrap;
margin: 0;
align-items: center;

}

.navigation-list-left .navigation-item{
flex-grow: 1;

}

.navigation-list-left .navigation-link {
   display: block;
padding: 20px 17px;

}


.navigation-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  outline: 1px solid #333333;
}

/* ------------НАВИГАЦИЯ МЕНЮ СПРАВА--------------- */



.navigation-list-user {
display: flex;
flex-wrap: wrap;
align-items: center;
max-width: 450px;
margin-left: auto;


}

/*
.navigation-item button {
background-color: #e604f7;

} */


.navigation-list-user .navigation-link,
.navigation-list-user .navigation-favorite,
.navigation-list-user span {
display: block;
margin: 0;
padding: 0;
min-width: 40px;
min-height: 60px;
text-decoration: none;
background-color: rgb(187, 243, 149);

}

.navigation-item .text-button {
display: block;
min-width: 160px;
min-height: 37px;
background: #756257;

}

.text-button,
.button-filter {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

}






                     /*------ЛОГО-------------*/


.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("/images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

}


.top-page-logo {

 text-align: center;
  padding-top: 50px;
padding-bottom: 82px;
}







.advantages-header {
margin-top: 65px;
margin-bottom: 85px;
}


                    /* блок преимуществ */

/* 1 и 3 строки*/

.first-type-row {
  display: flex;


}


.first-type-row .advantages-row-item {
background-color: #83B3D3;

}


/* СТРОКА 2-4 */


.row-icon,
.row-item{
display: flex;
flex-direction: row;
flex-grow: 3;


}

.advantages-row-item {
width: 400px;
min-height: 384px;
outline: 1px solid  #333333;

}




/* ОФОРМЛЕНИЕ ТЕКСТА */

/* h3 */
.advantages-header-title {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-size: 30px;
line-height: 36px;
font-weight: 700;
color: #000000;
text-align: center;
text-transform: uppercase;
margin: 0;
}

/* подзаголовок */
.advantages-header p {
font-family: "PT Sans",sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 36px;
color: #333333;
text-align: center;

}



/* h3 с блоках*/

.advantages-row-title {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #000000;
text-align: center;
text-transform: uppercase;
}


.advantages-row span {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: #333333;

}



.advantages-row p {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #333333;
}



/* Переопределение текста в белый в строках */

.first-type-row h3,
.first-type-row p,
.first-type-row span {
color: #ffffff;

}



                               /*----------------- БЛОК ПОДПИСАТЬСЯ И ПОИCК ГОСТИНИЦ --------------*/


.search-hotel h2 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}


.search-hotel p {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
margin: 0;
margin-bottom: 56px;
}

.popup-search-hotel {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background: #756257;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  width: 575px;

}


.search-hotel {
 padding: 94px 0px;          /* на макете нет четких значений,  от 93 до 95 - что выбирать?*/


}

                             /* -------------Рассылка текст-----------------*/

.newsletter h2,
.newsletter p {
margin: 0;

}

.newsletter-index {
padding: 94px 0px;

}

.newsletter-inner {
padding: 94px 0 140px;

}


.newsletter p {
padding: 46px 0;

}



.newsletter-index h2 {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #FFFFFF;
text-align: center;
text-transform: uppercase;
}

.newsletter-index p {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #FFFFFF;

}

.newsletter-form {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

}



/* Рассылка с внутренней страницы, переопределение цвета текста */


.newsletter-inner h2 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

}


.newsletter-inner p {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}


.newsletter-index {
background-image: url("/images/news-letter-background.jpg");

}


.newsletter-inner {
  background-color: rgb(227, 216, 238);

}






/*------------------------------------------------------КАТАЛОГ---------------------------------------------------------------------------*/


.main-catalog {

background-image: url("/images/catalog-background-top.jpg");
background-repeat: no-repeat;
margin: 0 auto;
min-height: 100vh;
padding-top: 30px;
padding-left: 70px;
padding-right: 70px;
}

.catalog-header,
.catalog-filter-header {
  margin: 0;
}





.catalog-title {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 78px;
color: #FFFFFF;
margin: 0;
margin-bottom: 5px;
}



/*----------breadcrumbs НЕ ПОЛУЧАЕТСЯ РАЗМЕТИТЬ------  */

.breadcrumbs {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
margin-bottom: 55px;
outline: 1px solid #333333;
align-items: center;

width: 110px;
height: 20px;
}


li.breadcrumbs-item:first-child {
width: 15px;
height: 15px;
outline: 1px solid #333333;
}



li.breadcrumbs-item:last-child {
  margin-right: 0;
}


.breadcrumbs-item {
margin-right: 10px;
}

/* ПОД ИКОНКУ  СТРЕЛКИ МЕСТО - В РАЗМЕТКУ КОНТЕЙНЕР ИЛИ В CSS? */



.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
text-decoration: none;
}




/*----------------------- Фильтры------------------------------------------------*/

.catalog-filter-environment-title,
.catalog-filter-type-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}


.button-filter {

  background-color: #c585e2;
}




/*------------------------------- СТРОКА СОРТИРОВКИ----------------------------*/


.catalog-sort {
margin: 40px 0 50px;
display: flex;
justify-content: space-between;
min-height: 48px;
outline: 1px solid #333333;

}

.catalog-sort h2 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 190px 0 0;

}

.select-sort {
width: 287px;
font-family: "PT Sans", sans-serif;
font-style: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
padding-left: 19px;
}

                            /* СТРЕЛКА НЕ РЕАГИРУЕТ НА ПАДДИНГ */


.catalog-sort-right {
  margin-left: auto;
}




.catalog-sort button {
width: 48px;
height: 48px;
margin-right: 8px;
background-color: #c585e2;
border: none;

}

.catalog-sort button:last-child {
margin-right: 0;

}






/*-------------------- КАРТОЧКИ ТОВАРОВ -------------------------------------------*/

ul.catalog-list  {
  list-style: none;
  padding: 0;
  margin: 0;
}


ul.catalog-list {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
width: 100%;
margin-bottom: 60px;

}

.product-card {
  width: 300px;
  min-height: 438px;
margin-bottom:10px;
padding: 20px;
outline: 1px solid #333333;

}

.product-card:nth-child(3) {
margin-right: 0;

}



/*---------------------------- Карточки товаров ТЕКСТ ---------------------*/

.product-card-title {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
color: #000000;
}


.product-card-category,
.product-card-price {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}

a.product-card-onpage,
.product-card-chosen {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
text-align: center;
text-transform: uppercase;
text-decoration: none;

}


.product-card .rate {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}



.button-pagination-show-more {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  min-width: 620px;
  margin: 0px auto;
  background-color: #c585e2;
  margin-bottom: 60px;
  /*временный маргин */

}





/* --------------------------Пагинация------------------------------------------- */


.pagination-catalog {
display: flex;
justify-content: space-between;
margin: 0;

}


.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.pagination-list {
display: flex;

}

.pagination-item:not(:last-child) {
  margin-right: 7px;
}

.pagination-item {


}



                                        /* ------------------ПОЧЕМУ РАБОТАЕМ С ССЫЛКАМИ, А НЕ ОБОЛОЧКАМИ ССЫЛОК?*/
.pagination-link {
display: block;
box-sizing: border-box;
text-decoration: none;
width: 55px;
height: 55px;
padding: 14px 0;
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
color: #FFFFFF;
text-transform: uppercase;
background-color: #83B3D3;
text-align: center;

}

.pagination-current {
background-color: #F2F2F2;
color: #000000;

}



/*----------------СТРОКА -ВЫВОД  ЧИСЛА ГОСТИНИЦ------------------------------*/


.count-item-onpage {
width: 386px;
outline: 1px solid #333333;
display: flex;
align-items: center;
}


.count-item-onpage-title {
  display: block;
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
padding: 16px 0;
}

.count-item-show {
width: 160px;
height: 48px;
margin-left: auto;

}

                                /* -------------------------------------ФУТЕР ---------------------------------------------------------*/


/*
.page-footer {
  width: 1200px;
  min-height: 120px;

} */

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}


.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
 display: flex;
 flex-wrap: wrap;
 max-width: 300px;
justify-content: space-between;

}

li.footer-social-item {
  display: block;
  width: 25px;
  min-height: 25px;
  margin-right: 15px;
  margin-bottom: 8px;
background-color: rgb(189, 104, 238);
outline: 1px solid #333333;
}


li.footer-social-item:nth-child(3n) {
  margin-right: 0;
}


.logo-htmlacademy {
display: block;
max-width: 300px;
}


/*
.footer-social-list {
  width: 107px;
  min-height: 18px;
  background-color: aqua;

}

.contacts-phone {
  max-width: 400px;

}

*/


.phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

}






.phone,
.logo-htmlacademy {}

.phone {}

.logo-htmlacademy {}

